  <div class="backg h-100 ">
   <div class="container  p-0 w-100 mt-5">
    <div class="row w-100  m-0">
      <div class="col-md-10 mt-5 pb-3 p-0 m-0 bg-white border ">
        <H3 class="text-dark m-2   ml-4">
          About Me 
        </H3>
        <HR class="mx-4">
        <img src="images/mustache.jpg" class="img-fluid float-left m-2 mx-4" width="150px" alt="Picture of Me">
        <div class="mx-4">
          <p>
           My passion for computing started at the age of 10. I was riding my bike when
           on the side of the road I saw an Macintosh SE/30. Now it was old and didn't 
           have much life left in it. But I had heard that Linux was a great way to 
           bring pazzaz back to old hardware. So I started on an epic journey to install
           linux on an old apple. Through this experience I learned some of the basics of 
           computers and programming. It is also the first time I found out how rewarding 
           it is to struggle on a problem for a long time and then find success and feel 
           that hard work does pay off and is worth the effort.
          <p>
           Fast forward to today and I have just completed a Full Stack web development 
           bootcamp at UNCC. I have found that I truly love the struggle and satisfaction of 
           full stack web development. I am currently looking for a Full Stack job in the 
           Charlotte area. To this day I am still an avid cyclist and I can not help but always 
           keep my eyes open for the next piece of technology that might change my life.
           </p>
           -Maxwell Allee 
          
        </div>
      </div>
    </div>
    
  </div>
 </div>